{% load crispy_forms_tags %}
{% load static %}


<div class="modal fade show" id="exampleModal" tabindex="-1" aria-labelledby="mainModalLabel" aria-hidden="true" role="dialog" style="display: block;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{modal_title}}</h5>
                <a href="{{url_back}}"><button class="btn-close"
                    data-bs-dismiss="modal" href="{{url_back}}" aria-label="Close"></button></a>
            </div>
            <div class="modal-body">
                <h2>SUPERMERCADO EL NOPAL
                    FRUVER
                NIT: 1052380244 - 1
                CEL: 3204576576
                CRA 5 No.16-46</h2>

                <p>{{regiter.date}}</p>
                
            </div>
            </form>
        </div>
    </div>
</div>
<div class="modal-backdrop fade show"></div>