{% extends 'partials/body_login.html' %}
{% load crispy_forms_tags %}
{% block title %}{{titulo_pagina}} - NUEVA CONTRASEÑA{% endblock title %}
{% load static %}
{% block contenido %}
    <div class="contenedor_mayor" id="inicio">
        <div class="ve_inicio">
            <div class="contenedor_ve_inicio">
                <div class="contenedor_iniciosubtitulos">
                    <h2 class="subtitulos_inicio" id="superior">Crea una contraseña nueva</h2>
                </div>

                <div class="contenedor_inicio1">
                    <div class="texto_inicio">Usarás esta contraseña para
                        acceder a tu cuenta.
                        Ingresa una nueva contraseña de al menos seis números,
                        letras y signos de puntuación.
                    </div>

                    <form method="post" class="d-flex flex-column align-content-center flex-wrap">
                        {% csrf_token %}
                        {{ form.new_password1.errors }}
                        <label id="input_inicio" class="alin" for="id_new_password1">Nueva contraseña</label>
                        {{ form.new_password1 }}
                        {{ form.new_password2.errors }}
                        <label id="input_inicio" for="id_new_password2">Confirmar nueva contraseña</label>
                        {{ form.new_password2 }}
                    <input class="btn_inicio0" type="submit" value="Confirmar">
                    </form>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
