{% extends 'partials/body_login.html' %}
{% load crispy_forms_tags %}
{% block title %}{{titulo_pagina}} - INICIAR SESION{% endblock title %}
{% load static %}
{% block contenido %}

<div class="contenedor_mayor">
    <div  class="ve_inicio">
        <div class="contenedor_ve_inicio">
            <div class="contenedor_iniciosubtitulos" id="superior">
                <h2 class="subtitulos_inicio">Recupera tu cuenta</h2>
            </div>
    
            <div class="contenedor_inicio1">
                <div class="texto_inicio">Te hemos enviado un correo  con un enlace para reestablecer  tu contraseña
                
            </div>
    
            <div class="contenedor_iniciosubtitulos" id="inferior">
                <a class="hvinculo_inicio" href="{% url 'admin-login' %}">Volver al inicio de sesión</a>
            </div>
        </div>
    </div>

{% endblock contenido %}