
{% extends 'partials/body_login.html' %}
{% load crispy_forms_tags %}
{% block title %}Recuperar contraseña - El Nopal Supermercado{% endblock title %}
{% load static %}
{% block contenido %}
<div class="contenedor_mayor" style="height:100%">
    <div class="ve_inicio">
        <div class="contenedor_inicio0">
            <figure class="p-0">
                <img class="img-fluid" src="{% static 'img/Logo.png' %}" alt="">
            </figure>
            <p class="titulo_iniciosesion">RECUPERAR CONTRASEÑA</p>
            <form action="#" method="post" class="text-center" >
                {% csrf_token %}
                <div class="mt-2">
                    <label for="#" class="form-label  fs-5" >Correo:</label>
                    {{form.email}}
                </div>
                <a href="{% url 'password_reset_done' %}"><input type="submit" value="Restablecer contraseña" style="width:250px;" class="btn_inicio0"></a>
            </form>
        </div>
    </div>

    
    {% block extrajs %}{% endblock extrajs %}

{% endblock %}
