{% extends 'partials/body.html' %}
{% load crispy_forms_tags %}
{% block title %}Nuevo Detalle de Compra{% endblock title %}
{% load static %}
{% block contenido %}

<section class="container-fluid bg-white p-5 rounded" data-admin id="cuerpo">    
    <h1>Gestionar {{title_pag}}</h1>
    <div class="row mb-4 mt-1" >
            <div class="col-12 col-lg-4 my-3">
                <div class="border bg-white p-3 rounded shadow" id="mode-cards">
                    <h3 class="text-align-center">Nueva {{title_pag}}</h3>
                    <form action="" method="POST" enctype="multipart/form-data" >
                        {% csrf_token %}
                        {{form|crispy}}
                        <div class="form-group mt-2" >
                            <button type="submit" class="btn_agregar">Agregar</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-12 col-lg-8" >
                <table id="tabla" class="display table table-striped table-hover text-nowrap mt-3" style="width:100%">
                    <thead style="background-color: var(--verde); color: var(--verdeocuro);" >
                        <tr>
                            <th scope="col">Producto</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Subtotal</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                   <tbody>
                        {% for detailbuy in detailbuys %}
                        {% if detailbuy.estado == 'Activo'%}
                            <tr>
                                    <td>{{detailbuy.product}}</td>
                                    <td>{{detailbuy.product.price}}</td>
                                    <td>{{detailbuy.amount}}</td>
                                    <td>{{detailbuy.finalPrice}}</td>  
                                                            
                                <td>
                                    <a href="{%url 'editar-detallecompra' detailbuy.id%}" class="btn btn-md border" ><img class="img-fluid " src=" {% static 'img/icons/update.svg' %} " alt=""></a>
                                    <a href="" class="btn btn-md border" ><img class="img-fluid " src=" {% static 'img/icons/eye.svg' %} " alt=""></a>
                                    <a href="{%url 'eliminar-detallecompra' detailbuy.id%}" class="btn btn-md border" ><img class="img-fluid " src=" {% static 'img/icons/delete.svg' %}" alt=""></a> 
                                </td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                   </tbody>
                </table>
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                            <strong>{{ message }}</strong> 
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="row w-100 mt-1 d-flex justify-content-end ">
                    <div class="col-sm-12 col-md-12 col-lg-auto col-xl-2 text-center">
                            <div class="card-body">
                                <h4 class="card-title text-lg-center fs-5  mb-2">Generar Reportes</h4>
                                <button type="button" class="btn border">
                                    <img class="img-fluid boton" src=" {% static 'img/icons/print.svg' %} " alt="">
                                </button>
                                <button type="button" class="btn border">
                                    <img class="img-fluid boton" src=" {% static 'img/icons/excel.svg' %} " alt="">
                                </button>
                                <button type="button" class="btn border">
                                    <img class="img-fluid boton" src=" {% static 'img/icons/pdf.svg' %} " alt="">
                                </button>
                            </div>
                    </div>
                </div>
            </div>
    </div>
</section>
{% include 'partials/accesibilidad.html' %}
 {% endblock %}